<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" backupGlobals="false" verbose="true" debug="true" processIsolation="true">
  <testsuites>
    <testsuite name="Slackbot Test Suite">
      <directory suffix="Test.php">tests/Slackbot/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src/Slackbot/</directory>
    </whitelist>
  </filter>

  <php>
    <const name="PHPUNIT_TESTSUITE" value="true"/>
  </php>

  <php>
    <ini name="display_errors" value="true"/>
  </php>

  <!--<logging>-->
    <!--<log type="coverage-html" target="./log/codeCoverage" charset="UTF-8"-->
         <!--yui="true" highlight="true"-->
         <!--lowUpperBound="50" highLowerBound="80"/>-->
    <!--<log type="testdox-html" target="./log/testdox.html" />-->
  <!--</logging>-->
</phpunit>

