<IfModule mod_rewrite.c>
    RewriteEngine On

    # redirect www to non www
    RewriteBase /
    RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
    RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

    # redirect all to index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^([^?]*)$ index.php?path=$1 [NC,L,QSA]
</IfModule>
